<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Crypto Counter</title>
  {% load staticfiles %}
  <link rel="shortcut icon" href={% static 'favicon.ico' %}>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href={% static 'css/style.css' %}>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $(function(){
    $("#header").load("header.html");
    $("#footer").load("footer.html");
    $(window).on('load', function() {
    });
  });

  </script>
  <script>
  window.onload = function () {

    var chart = new CanvasJS.Chart("chartContainer", {
      title: {
        text: "{{coin.coin_name}} Monthly Social Trends"
      },
      axisX: {
        valueFormatString: "MMM DD"
      },
      axisY2: {
        title: "Social Media Presence",
      },
      toolTip: {
        shared: true
      },
      legend: {
        cursor: "pointer",
        verticalAlign: "top",
        horizontalAlign: "center",
        dockInsidePlotArea: true,
        itemclick: toggleDataSeries
      },
      data: [{
        type:"line",
        axisYType: "secondary",
        name: "Twitter Tweets",
        showInLegend: true,
        markerSize: 0,
        yValueFormatString: "#,###",
        dataPoints: [
          {% for d in coinSocial %}
            { x: new Date({{d.year}},{{d.month}},{{d.day}}), y: {{d.num_tweets}}} {% if not forloop.last %},{% endif %}
          {% endfor %}
        ]
      },
      {
        type: "line",
        axisYType: "secondary",
        name: "Reddit Subscribers",
        showInLegend: true,
        markerSize: 0,
        yValueFormatString: "#,###",
        dataPoints: [
          {% for d in coinSocial %}
            { x: new Date({{d.year}},{{d.month}},{{d.day}}), y: {{d.num_subs}}} {% if not forloop.last %},{% endif %}
          {% endfor %}
        ]
      },
      {
        type: "line",
        axisYType: "secondary",
        name: "News Articles",
        showInLegend: true,
        markerSize: 0,
        yValueFormatString: "#,###",
        dataPoints: [
          {% for d in coinSocial %}
            { x: new Date({{d.year}},{{d.month}},{{d.day}}), y: {{d.num_articles}}} {% if not forloop.last %},{% endif %}
          {% endfor %}
        ]
      },
      {
        type: "line",
        axisYType: "secondary",
        name: "Facebook Likes",
        showInLegend: true,
        markerSize: 0,
        yValueFormatString: "#,###",
        dataPoints: [
          {% for d in coinSocial %}
            { x: new Date({{d.year}},{{d.month}},{{d.day}}), y: {{d.num_likes}}} {% if not forloop.last %},{% endif %}
          {% endfor %}
        ]
      }]
    });
    chart.render();

    function toggleDataSeries(e){
      if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
        e.dataSeries.visible = false;
      } else{
        e.dataSeries.visible = true;
      }
      chart.render();
    }

    var chart1 = new CanvasJS.Chart("chartContainer2", {
      title: {
        text: "{{coin.coin_name}} Monthly Price Trends"
      },
      axisX: {
        valueFormatString: "MMM DD"
      },
      axisY2: {
        title: "Price (USD)",
      },
      toolTip: {
        shared: true
      },
      legend: {
        cursor: "pointer",
        verticalAlign: "top",
        horizontalAlign: "center",
        dockInsidePlotArea: true,
        itemclick: toggleDataSeries
      },
      data: [{
        type:"line",
        axisYType: "secondary",
        name: "Price (USD)",
        showInLegend: true,
        markerSize: 0,
        //yValueFormatString: "$#,###",
        dataPoints: [
          {% for d in coinHistory %}
            { x: new Date({{d.year}},{{d.month}},{{d.day}}), y: {{d.price}}} {% if not forloop.last %},{% endif %}
          {% endfor %}
        ]
      }]
    });
    chart1.render();
  }
</script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</head>
<body>
  <div id="header"></div>
  <!--Remaining section-->
  <div class="container">
    {% load humanize %}
    <div class="page-header">
      <h2>{{coin.coin_name}} ({{coin.ticker}})  :  ${{coin.price|intcomma}}</h2>
    </div>
    <div class="coinStatRow row col-sm-12">
			<div class="col-sm-4 col-xs-12 coinStat">
				<div>
					Market Cap:
				</div>
				<div>
					<coinStatValue>${{coin.market_cap|intcomma}}</coinStatValue>
				</div>
			</div>
			<div class="col-sm-4 col-xs-12 coinStat">
				<div>
					Percent Change:
				</div>
				<div>
          {% if coin.percent_change >= 0 %}
					<coinStatValue style="color:green;">{{coin.percent_change}}%</coinStatValue>
          {% else %}
          <coinStatValue style="color:red;">{{coin.percent_change}}%</coinStatValue>
          {% endif %}
				</div>
			</div>
			<div class="col-sm-4 col-xs-12 coinStat">
				<div>
					Circulating Supply:
				</div>
				<div>
					<coinStatValue>{{coin.circ_supply|intcomma}}</coinStatValue>
				</div>
			</div>
		</div>
	</div>
  <hr>
  <div class="trendGraph" id="chartContainer"></div>
  <div class="trendGraph" id="chartContainer2"></div>

  <div class="container">
    <div class="tab">
  <button class="tablinks" onclick="openTab2(event, 'Twitter')" id="defaultOpen">Twitter</button>
  <button class="tablinks" onclick="openTab2(event, 'Reddit')">Reddit</button>
  <button class="tablinks" onclick="openTab2(event, 'News')">News</button>
</div>

<div id="Twitter" class="list" style="width: 50%; margin: 0 auto;">

	{% for tweet in coinTweets %}
	<div>
		<div>
			<a href="https://twitter.com/{{tweet.user.screen_name}}"><p style="color: #00aced; font-size: 20px; margin-bottom:0px;">@{{ tweet.user.screen_name }}</p></a>
		</div>
	<p>{{ tweet.text }}</p>
	</div><hr>

    {% endfor %}

</div>

<div id="Reddit" class="tabcontent list">
<script src="https://www.reddit.com/r/{{coin.coin_name}}/.embed?limit=10&sort=hot" type="text/javascript"></script>
</div>

<div id="News" class="tabcontent list">
<div id="content"></div>

<script>
	var url = 'https://newsapi.org/v2/everything?' +
		  'language=en&' +
          'q={{coin.coin_name}}&' +
          'sortBy=new&' +
          'apiKey=657d2f7da373497480f8e8081f7efad2';

var req = new Request(url);
fetch(req)
    .then(function(response) {
       return response.json();
    })
	.then(function(myJson) {
		var article;
		var temp = document.getElementById("content");
		var jsondata = JSON.parse(JSON.stringify(myJson));
		var count = 0;
		for (var i = 0; i < jsondata.articles.length; i++) {
			article = jsondata.articles[i];
			if(article.source.name != "Bleepingcomputer.com"){
				if(article.source.name != "Deviantart.com"){
					if(article.description !=""){
						count +=1;
						if(count%2 == 0){
							temp.insertAdjacentHTML("beforeend", '<div style="background-color: #dddddd;"><div style=" margin-left: 10%; padding-bottom:5px; padding-top: 5px; text-align: left; font-size:18px;"><a href='+article.url+'>'+article.title+'</a></div>'
														+'<div style="margin-left: 10%; padding-bottom: 10px;">'+article.description+'</div></div>');
						}
						else{
							temp.insertAdjacentHTML("beforeend", '<div class="article"><div style=" margin-left: 10%; padding-bottom:5px; padding-top: 5px; text-align: left; font-size:18px;"><a href='+article.url+'>'+article.title+'</a></div>'
														+'<div style="margin-left: 10%; padding-bottom: 10px;">'+article.description+'</div></div>');
						}
					}
				}
			}
		}
	});

</script>

</div>
<script>

function openTab2(evt, tabName) {
    var i, tabcontent2, tablinks2;
    tabcontent2 = document.getElementsByClassName("list");
    for (i = 0; i < tabcontent2.length; i++) {
        tabcontent2[i].style.display = "none";
    }
    tablinks2 = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks2.length; i++) {
        tablinks2[i].className = tablinks2[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
    </script>
  </div>

  <div id="footer"></div>
</body>
</html>
