<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Crypto Counter</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="../../static/css/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script>
  $(function(){
    $("#header").load("header.html");
    $("#footer").load("footer.html");
    $(window).on('load', function() {
      $('.nav.navbar-nav li.trends').addClass('active');
    });
  });

  </script>
  <script>
  window.onload = function () {

    var chart = new CanvasJS.Chart("chartContainer", {
      title: {
        text: "{{coin.coin_name}} ({{coin.ticker}}) Social Trends"
      },
      axisX: {
        valueFormatString: "MMM YYYY"
      },
      axisY2: {
        title: "Thousands of Posts",
      },
      toolTip: {
        shared: true
      },
      legend: {
        cursor: "pointer",
        verticalAlign: "top",
        horizontalAlign: "center",
        dockInsidePlotArea: true,
        itemclick: toogleDataSeries
      },
      data: [{
        type:"line",
        axisYType: "secondary",
        name: "Twitter",
        showInLegend: true,
        markerSize: 0,
        yValueFormatString: "#,###",
        dataPoints: [
          { x: new Date(2014, 00, 01), y: 850 },
          { x: new Date(2014, 01, 01), y: 889 },
          { x: new Date(2014, 02, 01), y: 890 },
          { x: new Date(2014, 03, 01), y: 899 },
          { x: new Date(2014, 04, 01), y: 903 },
          { x: new Date(2014, 05, 01), y: 925 },
          { x: new Date(2014, 06, 01), y: 899 },
          { x: new Date(2014, 07, 01), y: 875 },
          { x: new Date(2014, 08, 01), y: 927 },
          { x: new Date(2014, 09, 01), y: 949 },
          { x: new Date(2014, 10, 01), y: 946 },
          { x: new Date(2014, 11, 01), y: 927 },
          { x: new Date(2015, 00, 01), y: 950 },
          { x: new Date(2015, 01, 01), y: 998 },
          { x: new Date(2015, 02, 01), y: 998 },
          { x: new Date(2015, 03, 01), y: 1050 },
          { x: new Date(2015, 04, 01), y: 1050 },
          { x: new Date(2015, 05, 01), y: 999 },
          { x: new Date(2015, 06, 01), y: 998 },
          { x: new Date(2015, 07, 01), y: 998 },
          { x: new Date(2015, 08, 01), y: 1050 },
          { x: new Date(2015, 09, 01), y: 1070 },
          { x: new Date(2015, 10, 01), y: 1050 },
          { x: new Date(2015, 11, 01), y: 1050 },
          { x: new Date(2016, 00, 01), y: 995 },
          { x: new Date(2016, 01, 01), y: 1090 },
          { x: new Date(2016, 02, 01), y: 1100 },
          { x: new Date(2016, 03, 01), y: 1150 },
          { x: new Date(2016, 04, 01), y: 1150 },
          { x: new Date(2016, 05, 01), y: 1150 },
          { x: new Date(2016, 06, 01), y: 1100 },
          { x: new Date(2016, 07, 01), y: 1100 },
          { x: new Date(2016, 08, 01), y: 1150 },
          { x: new Date(2016, 09, 01), y: 1170 },
          { x: new Date(2016, 10, 01), y: 1150 },
          { x: new Date(2016, 11, 01), y: 1150 },
          { x: new Date(2017, 00, 01), y: 1150 },
          { x: new Date(2017, 01, 01), y: 1200 },
          { x: new Date(2017, 02, 01), y: 1200 },
          { x: new Date(2017, 03, 01), y: 1200 },
          { x: new Date(2017, 04, 01), y: 1190 },
          { x: new Date(2017, 05, 01), y: 1170 }
        ]
      },
      {
        type: "line",
        axisYType: "secondary",
        name: "Google",
        showInLegend: true,
        markerSize: 0,
        yValueFormatString: "#,###",
        dataPoints: [
          { x: new Date(2014, 00, 01), y: 1200 },
          { x: new Date(2014, 01, 01), y: 1200 },
          { x: new Date(2014, 02, 01), y: 1190 },
          { x: new Date(2014, 03, 01), y: 1180 },
          { x: new Date(2014, 04, 01), y: 1250 },
          { x: new Date(2014, 05, 01), y: 1270 },
          { x: new Date(2014, 06, 01), y: 1300 },
          { x: new Date(2014, 07, 01), y: 1300 },
          { x: new Date(2014, 08, 01), y: 1358 },
          { x: new Date(2014, 09, 01), y: 1410 },
          { x: new Date(2014, 10, 01), y: 1480 },
          { x: new Date(2014, 11, 01), y: 1500 },
          { x: new Date(2015, 00, 01), y: 1500 },
          { x: new Date(2015, 01, 01), y: 1550 },
          { x: new Date(2015, 02, 01), y: 1550 },
          { x: new Date(2015, 03, 01), y: 1590 },
          { x: new Date(2015, 04, 01), y: 1600 },
          { x: new Date(2015, 05, 01), y: 1590 },
          { x: new Date(2015, 06, 01), y: 1590 },
          { x: new Date(2015, 07, 01), y: 1620 },
          { x: new Date(2015, 08, 01), y: 1670 },
          { x: new Date(2015, 09, 01), y: 1720 },
          { x: new Date(2015, 10, 01), y: 1750 },
          { x: new Date(2015, 11, 01), y: 1820 },
          { x: new Date(2016, 00, 01), y: 2000 },
          { x: new Date(2016, 01, 01), y: 1920 },
          { x: new Date(2016, 02, 01), y: 1750 },
          { x: new Date(2016, 03, 01), y: 1850 },
          { x: new Date(2016, 04, 01), y: 1750 },
          { x: new Date(2016, 05, 01), y: 1730 },
          { x: new Date(2016, 06, 01), y: 1700 },
          { x: new Date(2016, 07, 01), y: 1730 },
          { x: new Date(2016, 08, 01), y: 1720 },
          { x: new Date(2016, 09, 01), y: 1740 },
          { x: new Date(2016, 10, 01), y: 1750 },
          { x: new Date(2016, 11, 01), y: 1750 },
          { x: new Date(2017, 00, 01), y: 1750 },
          { x: new Date(2017, 01, 01), y: 1770 },
          { x: new Date(2017, 02, 01), y: 1750 },
          { x: new Date(2017, 03, 01), y: 1750 },
          { x: new Date(2017, 04, 01), y: 1730 },
          { x: new Date(2017, 05, 01), y: 1730 }
        ]
      },
      {
        type: "line",
        axisYType: "secondary",
        name: "News",
        showInLegend: true,
        markerSize: 0,
        yValueFormatString: "#,###",
        dataPoints: [
          { x: new Date(2014, 00, 01), y: 529 },
          { x: new Date(2014, 01, 01), y: 540 },
          { x: new Date(2014, 02, 01), y: 539 },
          { x: new Date(2014, 03, 01), y: 565 },
          { x: new Date(2014, 04, 01), y: 575 },
          { x: new Date(2014, 05, 01), y: 579 },
          { x: new Date(2014, 06, 01), y: 589 },
          { x: new Date(2014, 07, 01), y: 579 },
          { x: new Date(2014, 08, 01), y: 579 },
          { x: new Date(2014, 09, 01), y: 579 },
          { x: new Date(2014, 10, 01), y: 569 },
          { x: new Date(2014, 11, 01), y: 525 },
          { x: new Date(2015, 00, 01), y: 535 },
          { x: new Date(2015, 01, 01), y: 575 },
          { x: new Date(2015, 02, 01), y: 599 },
          { x: new Date(2015, 03, 01), y: 619 },
          { x: new Date(2015, 04, 01), y: 639 },
          { x: new Date(2015, 05, 01), y: 648 },
          { x: new Date(2015, 06, 01), y: 640 },
          { x: new Date(2015, 07, 01), y: 645 },
          { x: new Date(2015, 08, 01), y: 648 },
          { x: new Date(2015, 09, 01), y: 649 },
          { x: new Date(2015, 10, 01), y: 649 },
          { x: new Date(2015, 11, 01), y: 649 },
          { x: new Date(2016, 00, 01), y: 650 },
          { x: new Date(2016, 01, 01), y: 665 },
          { x: new Date(2016, 02, 01), y: 675 },
          { x: new Date(2016, 03, 01), y: 695 },
          { x: new Date(2016, 04, 01), y: 690 },
          { x: new Date(2016, 05, 01), y: 699 },
          { x: new Date(2016, 06, 01), y: 699 },
          { x: new Date(2016, 07, 01), y: 699 },
          { x: new Date(2016, 08, 01), y: 699 },
          { x: new Date(2016, 09, 01), y: 699 },
          { x: new Date(2016, 10, 01), y: 709 },
          { x: new Date(2016, 11, 01), y: 699 },
          { x: new Date(2017, 00, 01), y: 700 },
          { x: new Date(2017, 01, 01), y: 700 },
          { x: new Date(2017, 02, 01), y: 724 },
          { x: new Date(2017, 03, 01), y: 739 },
          { x: new Date(2017, 04, 01), y: 749 },
          { x: new Date(2017, 05, 01), y: 740 }
        ]
      }]
    });
    chart.render();

    function toogleDataSeries(e){
      if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
        e.dataSeries.visible = false;
      } else{
        e.dataSeries.visible = true;
      }
      chart.render();
    }

  }
</script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</head>
<body>
  <div id="header"></div>
  <!--Remaining section-->
  <div class="container">
    <div class="page-header">
      <h2>{{coin.coin_name}} ({{coin.ticker}})  :  ${{coin.price}}</h2>
    </div>
    <div class="coinStatRow row col-sm-12">
      <div class="col-sm-4 coinStat"><h3>Market Cap:</h3>${{coin.market_cap}}</div>
      <div class="col-sm-4 coinStat"><h3>Percent Change:</h3>{% widthratio coin.percent_change 1 100 %}%</div>
      <div class="col-sm-4 coinStat"><h3>Circulating Supply:</h3>{{coin.circ_supply}}</div>
    </div>
  </div>

  <div class="trendGraph" id="chartContainer"></div>

  <div class="container">
    <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'Twitter')" id="defaultOpen">Twitter</button>
      <button class="tablinks" onclick="openTab(event, 'Reddit')">Reddit</button>
      <button class="tablinks" onclick="openTab(event, 'News')">News</button>
    </div>

    <div id="Twitter" class="tabcontent">
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/cryptocurrency" data-widget-id="976621636551135234">#cryptocurrency Tweets</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    </div>

    <div id="Reddit" class="tabcontent">
      <script src="https://www.reddit.com/r/CryptoCurrency/.embed?limit=5&sort=hot" type="text/javascript"></script>
    </div>

    <div id="News" class="tabcontent">
      <blockquote class="embedly-card"><h4><a href="https://www.coindesk.com/category/technology/altcoins/">Altcoin News - Daily Cryptocurrency Articles - CoinDesk</a></h4><p>Alternative cryptocurrencies have emerged in bitcoin's shadow. Read the latest altcoin news every day on CoinDesk.</p></blockquote>
      <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

      <blockquote class="embedly-card"><h4><a href="https://www.nytimes.com/topic/subject/bitcoin">Bitcoin</a></h4><p>News about Bitcoin. Commentary and archival information about Bitcoin from The New York Times.</p></blockquote>
      <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

      <blockquote class="embedly-card"><h4><a href="https://www.entrepreneur.com/topic/cryptocurrency">Cryptocurrency</a></h4><p>The latest news, videos, and discussion topics on Cryptocurrency</p></blockquote>
      <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    </div>

    <script>

    function openTab(evt, tabName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
    </script>
  </div>

  <div id="footer"></div>
</body>
</html>
