<div class="promo navbar-inverse"> 
		Market Cap: <value>$265,494,741,156</value>24h Vol:<value>$11,104,234,012</value>BTC Dominance:<value>43.8%</value>Cryptocurrencies:<value>1564</value>Markets:<value>10191</value>
</div>
<div class="product-title container"><a href="/market"><img src="../../static/logo.png"><h1>Crypto Counter</h1></a>
  <div class="pull-right account">
    {% if not loggedin %}
    <a href="/login">login</a> | <a href="/register">create account</a>
    {% else %}
    <a href="/logout">logout</a> | <a href="/account">account</a>
    {% endif %}
  </div>
</div>
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="market"><a href="/market">Market</a></li>
        <li class="ico"><a href="/ico">ICO</a></li>
        <li class="trends"><a href="/socialtrends">Social Trends</a></li>
        {% if not loggedin %}
        <li class="watchlist"><a href="/login">My Watchlist</a></li>
        {% else %}
        <li class="watchlist"><a href="/watchlist">My Watchlist</a></li>
        {% endif %}
      </ul>
      <div class="col-sm-3 col-md-3 pull-right">
        <form class="navbar-form" role="search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div><!--/.nav-collapse -->

  </div>
</nav>
