<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Crypto Counter</title>
  <link rel="shortcut icon" href="../../static/favicon.ico" />

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="../../static/css/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script>
  $(function(){
    $("#header").load("header.html");
    $("#footer").load("footer.html");
    $(window).on('load', function() {
      $('.nav.navbar-nav li.market').addClass('active');
    });
  });

  </script>
  <script>
  window.onload = function () {

    var chart = new CanvasJS.Chart("chartContainer", {
      title: {
        text: "Crypto Social Media Trends"
      },
      axisX: {
        valueFormatString: "MMM DD"
      },
      axisY2: {
        title: "Percent Change",
      },
      toolTip: {
        shared: true
      },
      legend: {
        cursor: "pointer",
        verticalAlign: "top",
        horizontalAlign: "center",
        dockInsidePlotArea: true,
        itemclick: toggleDataSeries
      },
      data: [{
        type:"line",
        axisYType: "secondary",
        name: "Twitter Tweets",
        showInLegend: true,
        markerSize: 0,
        yValueFormatString: "#,###",
        dataPoints: [
          /*
          {% for d in social %}
            { x: new Date({{d.year}},{{d.month}},{{d.day}}), y: {{d.num_tweets}}} {% if not forloop.last %},{% endif %}
          {% endfor %}
          */
        ]
      },
      {
        type: "line",
        axisYType: "secondary",
        name: "Reddit Subscribers",
        showInLegend: true,
        markerSize: 0,
        yValueFormatString: "###0.00#%",
        dataPoints: [
          {% for d in social %}
            { x: new Date({{d.year}},{{d.month}},{{d.day}}), y: {{d.num_subs}}} {% if not forloop.last %},{% endif %}
          {% endfor %}
        ]
      },
      {
        type: "line",
        axisYType: "secondary",
        name: "News Articles",
        showInLegend: true,
        markerSize: 0,
        yValueFormatString: "###0.00#%",
        dataPoints: [
          {% for d in social %}
            { x: new Date({{d.year}},{{d.month}},{{d.day}}), y: {{d.num_articles}}} {% if not forloop.last %},{% endif %}
          {% endfor %}
        ]
      },
      {
        type: "line",
        axisYType: "secondary",
        name: "Facebook Likes",
        showInLegend: true,
        markerSize: 0,
        yValueFormatString: "#,###",
        dataPoints: [
          /*
          {% for d in social %}
            { x: new Date({{d.year}},{{d.month}},{{d.day}}), y: {{d.num_likes}}} {% if not forloop.last %},{% endif %}
          {% endfor %}
          */
        ]
      },
      {
        type: "line",
        axisYType: "secondary",
        name: "Google Searches",
        showInLegend: true,
        markerSize: 0,
        yValueFormatString: "#,###",
        dataPoints: [
          /*
          {% for d in social %}
            { x: new Date({{d.year}},{{d.month}},{{d.day}}), y: {{d.num_trends}}} {% if not forloop.last %},{% endif %}
          {% endfor %}
          */
        ]
      }]
    });
    chart.render();

    function toggleDataSeries(e){
      if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
        e.dataSeries.visible = false;
      } else{
        e.dataSeries.visible = true;
      }
      chart.render();
    }

  }
  </script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</head>
<body>
  <div id="header"></div>
  <!--Remaining section-->
  <div class="container">
    <div class="page-header top-title">
      <h3>Market</h3>
    </div>
  </div>
  <div class="trendGraph" id="chartContainer"></div>
  <hr>
  <div>
    <table>
      <tr>
        <th></th>
        <th>Coin</th>
        <th>Ticker</th>
        <th style="text-align:right;">Price</th>
        <th style="text-align:right;">Circulating Supply</th>
        <th style="text-align:right;">Percent Change</th>
        <th style="text-align:right;">Market Cap</th>

      </tr>

      {% for i in prices %}
      <tr>
        <td><a href="watchlist/addcoin/{{i.coin_id}}"><span class="glyphicon glyphicon-plus-sign"></span></a></td>
        <td><a href="coindetails/{{i.coin_name}}">{{i.coin_name}}</a></td>
        {% load humanize %}
        <td>{{i.ticker}}</td>
        <td style="text-align:right;">${{i.price|intcomma}}</td>
        <td style="text-align:right;">{{i.circ_supply|intcomma}}</td>
        {% if i.percent_change >= 0 %}
		    <td style="color:green; text-align:right;">{{i.percent_change}}%</td>
		    {% else %}
		    <td style="color:red; text-align:right;">{{i.percent_change}}%</td>
		    {% endif %}
        <td style="text-align:right;">${{i.market_cap|intcomma}}</td>

      </tr>
      {% endfor %}

    </table>
  </div>
  <div id="footer"></div>
</body>
</html>
