<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Crypto Counter</title>
  {% load staticfiles %}
  <link rel="shortcut icon" href={% static 'favicon.ico' %}>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href={% static 'css/style.css' %}>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>
  $(function(){
    $("#header").load("header.html");
    $("#footer").load("footer.html");
  });

  </script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</head>
<body>
  <div id="header"></div>
  <!--Remaining section-->
  <div class="container">
    <form class="form-horizontal" role="form" method="POST">
      <h2>Registration Form</h2>
      <h5 style="color:red; text-align: left;">{{errorUname}}</h5>
      <h5 style="color:red; text-align: left;">{{errorEmail}}</h5>
      <h5 style="color:red; text-align: left;">{{errorPassword}}</h5>
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{{ field.label }}</label>
        <div class="col-sm-9">
          {{field}}
        </div>
      </div>
      {% endfor %}<!-- /.form-group -->

      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
        </div>
      </div>
    </form> <!-- /form -->
  </div> <!-- ./container -->

  <div id="footer"></div>
</body>
</html>
