<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Crypto Counter</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="../../static/css/style.css">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>
  $(function(){
    $("#header").load("header.html");
    $("#footer").load("footer.html");
    $(window).on('load', function() {
      $('.nav.navbar-nav li.watchlist').addClass('active');
    });
  });

  </script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</head>
<body>
  <div id="header"></div>
  <!--Remaining section-->
  <div class="container">
    <div class="page-header top-title">
      <h2>My Watchlist</h2>
    </div>
  </div>
  <h4 class="tableHead" >My Tracked Coins:</h4>
	<table>
		 <tr>
			<th></th>
			<th>Coin</th>
			<th>Ticker</th>
			<th>Price</th>
			<th>Circulating Supply</th>
			<th>Percent Change</th>
			<th>Market Cap</th>
		 </tr>
	
     {% for i in watchCoins %}
     <tr>
       <td><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
       <td><a href="coindetails/{{i.coin_name}}">{{i.coin_name}}</a></td>
       {% load humanize %}
       <td>{{i.ticker}}</td>
       <td>${{i.price|intcomma}}</td>
       <td>{{i.circ_supply|intcomma}}</td>
       <td>{{i.percent_change}}%</td>
       <td>${{i.market_cap|intcomma}}</td>
     </tr>
     {% endfor %}

	</table>
	<hr>
	<h4 class="tableHead" >My Tracked ICOs:</h4>
	<table class="icoTable">
		<tr>
			<th></th>
			<th>Days Remaining</th>
			<th>Start</th>
			<th>End</th>
			<th>Name</th>
			<th>Description</th>
		</tr>

    {% for i in watchIcos %}
    <tr>
      <td><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
      {% if i.daysRemaining.days >= 0 %}
      <td style="color:green;">{{i.daysRemaining.days}}</td>
      {% else %}
      <td style="color:red;">{{i.daysRemaining.days}}</td>
      {% endif %}
      <td>{{i.startdate.date}}</td>
      <td>{{i.enddate.date}}</td>
      <td><a href="icodetails/{{i.ico_name}}">{{i.ico_name}}</a></td>
      <td>{{i.description}}</td>
    </tr>
    {% endfor %}
	</table>


  <div id="footer"></div>
</body>
</html>
